<div class="row">
  <div class="col-md-6">
    <%= form_for(stock) do |f| %>
      <div class="form-group">
        <%= f.label(:name) %>
        <%= f.text_field(:name, class: "form-control", placeholder: "e.g. IBM", autofocus: true) %>
      </div>
      <div class="form-group">
        <%= f.label(:ticker_symbol) %>
        <%= f.text_field(:ticker_symbol, class: "form-control", placeholder: "e.g. IBM") %>
      </div>
      <div class="form-group">
        <%= f.label(:twitter_handle) %>
        <%= f.text_field(:twitter_handle, class: "form-control", placeholder: "e.g. @IBM") %>
      </div>
      <%= f.submit(class: "btn btn-primary") %>
    <% end %>
  </div>
  <div class="col-md-6">
    <ul>
      <% @stock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
</div>